{% load extra_filters %}
<div class = "ui sub menu">
	<div class = "menu">
		<div class = "item" style = "height : 0.1rem; top: -1rem;">
			<form class = "ui form search" action = "{% url "kfet.views.print_pg" %}">
				<div class = "ui icon small input">
					<input autofocus = "autofocus" class = "prompt" name = "query" auto-complete = "no" type = "text" placeholder = "Chercher un pg (Alt + P)">
					<i class = "search icon"></i>
					<div class = "results"></div>
				</div>
			</form>	
		</div>
		<a class = "item link {{ title|activate:'Products' }}" href = "{% url "kfet.views.products" %}">Produits</a>
		<a class = "item link {{ title|activate:'Statistics' }}" href = "{% url "kfet.views.statistics" %}">Statistiques</a>
		{% if gadz.credit <= 0 %}
		<div class = "right item" style = "color: #A95252">Solde : {{ gadz.credit }} €</div>
		{% else %}
			<div class = "right item label">Solde : {{ gadz.credit }} €</div>
		{% endif %}
	</div>	
</div>	
