{% load extra_filters %}
<div class = "ui sub menu">
	<div class = "menu">
		<div class = "item">
			<div class = "ui icon search input">
				<input autofocus = "autofocus" type = "text" placeholder = "Chercher un pg (Alt + P)">
				<i class = "search icon"></i>
				<div class = "results"></div>
			</div>	
		</div>
		<a class = "item link {{ title|activate:'Products' }}" href = "{% url "kfet.views.products" %}">Produits</a>
		<a class = "item link {{ title|activate:'Statistics' }}" href = "{% url "kfet.views.statistics" %}">Statistiques</a>
		{% if gadz.credit <= 0 %}
		<div class = "right item"><div class = "ui red label">Solde : {{ gadz.credit }} €</div></div>
		{% else %}
			<div class = "right item"><div class = "ui black label">Solde : {{ gadz.credit }} €</div></div>
		{% endif %}
	</div>	
</div>	
