{% extends "base.html" %}

{% block body %}
<div class = "ui center aligned grid">
	<div class = "four wide column">
		<form class = "ui form primary compact segment" method = "POST" action = "{% url "users.views.settings" %}">
			<h2 class = "ui blue header">Paramètres</h2>
			<br />
			{% csrf_token %}
			{% for i in form %}
				{% if i.field.required %}
					<div class = "required field">
				{% else %}
					<div class = "field">
				{% endif %}
					<label>{{ i.label_tag }}</label>
					<div class = "ui input">
						{{ i }}
					</div>
				</div>
			{% endfor %}
			<br />
			<button type = "submit" value = "Submit" class = "ui center blue submit button">Enregistrer les modifications</button>
		</form>
	</div>
</div>
{%endblock %}
